@model Application.ViewModels.SaveUserViewModel
@{
    ViewData["Title"] = "Nuevo usuario";

}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4 class="text-center">Creando un nuevo usuario</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="User" asp-action="Register">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Apellido: </label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo: </label>
                            <input asp-for="Email" id="Email" onchange="EmailCheck()" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <p id="Show"></p>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Teléfono: </label>
                            <input asp-for="Phone" id="Phone" onchange="PhoneCheck()" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                            <p id="Check"></p>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                            <input asp-for="Username" id="Username" onchange="UserCheck()" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                            <p id="Status"></p>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña: </label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña: </label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>


                        <button type="submit" class="btn btn-primary" id="Register">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver atrás</a>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function UserCheck() {
        $("#Status").html("Verificando...");
        $.post("@Url.Action("ValidateUserName","User")",
            {
                userData: $("#Username").val()
            },

            function (data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Nombre de usuario disponible.</font>');
                    $("#Username").css("border-color", "Green");
                    $("Register").prop("disabled", false);
                }
                else {
                    $("#Status").html('<font color="Red">El usuario ya está registrado. Intente con otro.</font>');
                    $("#Username").css("border-color", "Red");
                    $("#Register").prop("disabled", true);
                }

            });
    }

    function EmailCheck(){
        $("#Show").html("Verificando...");
        $.post("@Url.Action("ValidateEmailExistence","User")",
            {
                emailData: $("#Email").val()
            },

            function(data) {
                if (data == 0) {
                    $("#Show").html('<font color="Green">Correo disponible.</font>');
                    $("#Email").css("border-color", "Green");
                    $("#Register").prop("disabled", false);
                } else {
                    $("#Show").html('<font color="Red">El correo ya está registrado. Intente con otro</font>');
                    $("Email").css("border-color", "Red");
                    $("#Register").prop("disabled", true);
                }
            });
    }

    function PhoneCheck() {
        $("Check").html("Verificando...");
        $.post("@Url.Action("ValidatePhoneNumberExistence","User")",
            {
                phoneData: $("#Phone").val()
            },

            function(data) {
                if (data == 0) {
                    $("#Check").html('<font color="Green">Número de Télefono disponible</font>');
                    $("#Phone").css("border-color", "Green");
                    $("#Register").prop("disabled", true);
                } else {
                    $("#Check").html('<font color="Red">El número de Télefono ya está registrado. Intente con otro</font>');
                    $("#Phone").css("border-color", "Red");
                    $("#Register").prop("disabled", true);
                }
            });

    }
</script>