@model List<Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">

        @if(Model == null || Model.Count == 0)
        {
            <h2>No hay productos</h2>
        }else{
            @foreach (Application.ViewModels.ProductViewModel item in Model)
            {
                <div class="col-4">
                    <div class="card shadow-sm">
                        
                        <img class="card-img-top img-product-size" src="@item.ImageUrl" />

                        <div class="card-body">
                            <h4>@item.Name</h4>
                            <p class="card-text">@item.Description</p>
                            <div class="mb-2">
                                <small class="fw-bold fs-6">RD$@item.Price</small>
                            </div>
                            <a asp-controller="Product" asp-action="ShowProduct" asp-route-id="@item.Id" class="btn btn-primary">Ver Producto</a>
                        </div>
                    </div>
                </div>
            }
        }
        
    </div>
    
</div>
