@model Application.ViewModels.SaveProductViewModel
@{
    ViewData["title"] = "Detalles del Producto";
}

 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Store</title>
    <link href="css/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styless.css">
    <link href="css/nav.css" rel="stylesheet">

</head>
    @* hola prueba para vscode *@
    <div class="d-flex flex-row">
        <div class="p-2">
            <div class="mt-4 col-2">
                <img class="animate__animated animate__fadeInLeft" src="@Model.ImageUrl" alt="imagen producto" width="550" height="450"/>
            </div>
        </div>
        <form id="form" method="post" asp-controller="Product" asp-action="ShowProductPost">
            <div class="p-2 mt-4 col-7">
                <div class="bg-primary p-3 rounded-3">
                    <h2 class="text-center text-white">Detalles de @Model.Name</h2>
                </div>

                <div class="mb-1 mt-3">
                    <p class="fw-bold">Precio: <span class="fw-normal">RD$@Model.Price</span></p>
                </div>
                <div>
                    <p class="fw-bold">Descripción: <span class="fw-normal">@Model.Description</span></p>
                </div>
                <div class="mb-2">
                    <p class="fw-bold">Cantidad:</p>
                    <select class="form-select w-auto" id="cantidad">
                        <option value="0">Seleccione una opción</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="d-flex gap-2 mt-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver atrás</a>
                    <a asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-success" id="algo">Agregar al Carrito</a>
                    @*<input type="submit" class="btn btn-success" value="Agregar Carrito" />*@
                </div>

                <div id="result"></div>
            </div>
        </form>

        
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/site.js"></script>